/* Custom CSS for Web Ecommerce */

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    padding-top: 20px;
    color: white; /* Mengatur warna font menjadi putih */
}

.sidebar img {
    max-width: 100px; /* Merubah lebar logo */
    height: auto;
    display: block;
    margin: 0 auto;
}

.sidebar h3 {
    text-align: center;
    margin-top: 10px;
}

.sidebar-menu {
    padding: 20px 0;
}

.sidebar-menu a {
    display: block;
    padding: 12px 20px;
    color: white; /* Mengatur warna font menjadi putih */
}

.sidebar-menu a:hover {
    background-color: #7c43f8;
    text-decoration: none;
}

.content-navbar {
    background-color: #f8f9fa; /* Warna latar belakang navbar */
    padding: 10px;
}

/* Memperpanjang input search */
.form-inline .form-control {
    width: 400px; /* Sesuaikan lebarnya sesuai kebutuhan */
    border-color: #7c43f8; /* Ubah warna border */
}

/* Memperbesar icon profile */

/* Mengubah warna tombol pencarian */
.btn-outline-success {
    color: #7c43f8;
    border-color: #7c43f8;
}

/* Mengubah warna ikon pada tombol pencarian */
.btn-outline-success .fas {
    color: #7c43f8;
}

/* Mengubah warna tombol pencarian ketika dihover */
.btn-outline-success:hover {
    background-color: #7c43f8;
    color: white;
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    max-width: 1000px; /* Lebar maksimum container */
    height: 500px; /* Tinggi tetap container */
    margin: 0 auto; /* Posisi tengah */
}

.login-form {
    flex: 1;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
}

.login-image {
    max-width: 50%; /* Mengatur lebar maksimum gambar agar tidak melebihi lebar kontainer */
}

.logo-container {
    display: flex;
    align-items: center; /* Menyamakan vertikal */
    padding-top: 80px;
}

.logo-small {
    max-width: 50px; /* Sesuaikan ukuran logo sesuai keinginan */
    margin-right: 10px; /* Beri jarak antara logo dan teks */
    border-radius: 50%;
}

.btn-primary {
    background-color: #7c43f8;
    border-color: #7c43f8;
    color: white;
}

.form-control {
    font-size: 14px; /* Sesuaikan ukuran font input sesuai kebutuhan */
}

.form-control::placeholder {
    font-size: 12px; /* Sesuaikan ukuran font placeholder sesuai kebutuhan */
}

.container {
    display: flex;
    align-items: center;
}
